
{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_button_bar %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Shipments information</h2>

        <fieldset>
          {{ search_form.hidden_tag() }}
          {{ render_form_fields(search_form) }}

          <div class="button_bar" hx-target="body">
              <a class="icon add" href="javascript:;" title="Add shipment" hx-get="{{ url_for('ui.add_shipments' ) }}" hx-target="body" hx-swap="beforeend" role="button">Add Shipment</a>
          </div>    
      </fieldset>
    </header>
    
      <table>
          <tr>
            <th>Addressee</th>
            <th>Date posted</th>
            <th>Date received</th>
            <th>Next due</th>
            <th>Pack ID</th>
            <th>Site</th>
          </tr>
          {% for item in ordered_list %}
          <tr>
            <td>{{item.addressee}}</td>
            <td>{{item.date_posted}}</td>
            <td>{{item.date_recieved}}</td>
            <td>{{item.next_due}}</td>
            <td><a href="{{url_for('ui.delete_shipments', id=item.id)}}">DELETE</a></td>
            <td><a href="{{url_for('ui.edit_shipments', id=item.id)}}">EDIT</a></td>
          </tr>
          {% endfor %}

        </table>


    

</section>
{% endblock %}


