{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_button_bar %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Sites</h2>

        <fieldset>
          {{ search_form.hidden_tag() }}
          {{ render_form_fields(search_form) }}

          <div class="button_bar" hx-target="body">
              <a class="icon add" href="javascript:;" title="Add site" hx-get="{{ url_for('ui.index' ) }}" hx-target="body" hx-swap="beforeend" role="button">Add Site</a>
          </div>    
      </fieldset>
    </header>
    <body>
        <table>
            <tr>
              <th>Site</th>
            </tr>
            {% for item in ordered_list %}
            <tr>
              <td>{{item.site_name}}</td>
              <td>{{item.site_back_up_contact}}</td>
              <td>{{item.ite_primary_contact}}</td>
              <td>{{item.site_code}}</td>
              <td><a href="{{url_for('ui.delete', id=item.id)}}">DELETE</a></td>
              <td><a href="{{url_for('ui.edit', id=item.id)}}">EDIT</a></td>
            </tr>
            {% endfor %}

          </table>


    </body>

</section>
{% endblock %}
