{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_button_bar %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Sites</h2>

        <fieldset>
          {{ search_form.hidden_tag() }}
          {{ render_form_fields(search_form) }}

          <div class="button_bar" hx-target="body">
              <a class="icon add" href="javascript:;" title="Add site" hx-get="{{ url_for('ui.add')}}"  hx-target="body" hx-swap="beforeend" role="button">Add Site</a>
          </div>    
      </fieldset>
    </header>
    
        <table>
            <tr>
              <th> </th>
              <th>Site</th>
              <th>Primary contact</th>
              <th>Back up contact</th>
              <th>Site Code</th>
            </tr>
            {% for item in ordered_list %}
            <tr>
              <td><a class="icon delete" href="{{url_for('ui.delete', id=item.id)}}"></a>
              <a class="icon edit" href="javascript:;"   hx-get="{{url_for('ui.edit', id=item.id)}}" hx-target="body" hx-swap="beforeend" ></a></td>
              <td>{{item.site_name}}</td>
              <td>{{item.site_primary_contact}}</td>
              <td>{{item.site_backup_contact}}</td>
              <td>{{item.site_code}}</td>
            </tr>
            {% endfor %}

          </table>


    

</section>
{% endblock %}
