{% extends "ui/menu_page.html" %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Add a pack</h2>
    </header>
    <body>
        <form method="POST" action="{{url_for('ui.add_packtypes')}}">


            {% for subfield in packtypes_form.pack_type_name %}
            
            <tr>               
            <td>{{ subfield }}</td> 
            <td>{{ subfield.label }}</td>                
            </tr>

            {% endfor %}
            {{packtypes_form.submit}}
        </form>
    </body>
</section>
{% endblock %}