{% extends "ui/menu_page.html" %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Choose a packtype</h2>
    </header>
    <body>
        <table>
            <tr>
              <th>Packtypes</th>
            </tr>
            {% for item in ordered_list %}
            <tr>
              <td>{{item.packtype_name}}</td>
              <td><a href="{{url_for('ui.delete_packtypes', id=item.id)}}">DELETE</a></td>
              <td><a href="{{url_for('ui.edit_packtypes', id=item.id)}}">EDIT</a></td>
            </tr>
            {% endfor %}

          </table>


    </body>

</section>
{% endblock %}
