{% extends "ui/menu_page.html" %}
{% from "lbrc/form_macros.html" import render_form_fields, render_button_bar %}


{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Add a pack</h2>
    </header>
    <body>
        <form method="POST" action="{{url_for('ui.add_pack')}}">
            <fieldset>
                {{render_form_fields(pack_form)}} 
                {{render_button_bar(url_for('ui.packs'))}}
            </fieldset>

        
        </form>
    </body>
</section>
{% endblock %}
