{% extends "ui/menu_page.html" %}

{% block menu_page_content %}
<section class="container">
    <header>
        <h2>Pack Information</h2>
    </header>
    <body>
        <table>
            <tr>
              <th>Packs</th>
            </tr>
            {% for item in order_list %}
            <tr>
              <td>{{item.pack_id}}</td>
              <td>{{item.pack_expiry}}</td>
              <td><a href="{{url_for('ui.delete_pack', id=item.id)}}">DELETE</a></td>
              <td><a href="{{url_for('ui.edit_pack', id=item.id)}}">EDIT</a></td>
            </tr>
            {% endfor %}

          </table>


    </body>

</section>
{% endblock %}
